mkdocs>=1.6.1
mkdocs-material>=9.6.15
mkdocs-git-revision-date-localized-plugin>=1.2.4
mkdocs-minify-plugin>=0.8.0
mkdocs-awesome-pages-plugin>=2.9.2
mkdocs-pymdownx-material-extras>=1.0.0
mkdocs-static-i18n>=0.25
mkdocs-git-authors-plugin>=0.8.0
mkdocs-section-index>=0.3.6
mkdocs-glightbox>=0.3.4
mkdocs-redirects>=1.2.0
mkdocs-exclude>=1.0.2
mkdocs-macros-plugin>=1.0.5
mkdocs-include-markdown-plugin>=3.9.1
pymdown-extensions>=10.7
markdown-include>=0.8.1 